 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 html, body { 
    height: 100%;
}


#main{
    background-color: #fec260;
    color: #352e28;
}

#mainTitle {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    margin: auto;
    font-size: 50px;
    font-family: "Pacifico", cursive;
    background: linear-gradient(to right, #4baa67, #d8cc4a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


#middle{
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px black dotted;
    border-bottom: 2px black dotted;
}

#middleMainTitle{
    margin-top: 20px;
    margin-bottom: 10px;
}
#middleMainTitle h2 {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-family: "Righteous", cursive;
    font-size: 30px;
    background: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
